{% extends "base.html" %} {% block content %}
<div class="container-fluid g-0" style="height: 100vh; width: 100%;">
    <div class="row g-0" style="height: 100%; width: 100%">
      <div class="col-9">
        {% if filename %}
          <embed
              src="{{url_for('static', filename=filename)}}"
              type="application/pdf"
              frameBorder="0"
              scrolling="auto"
              height="100%"
              width="100%"
          ></embed>
        {% endif %}  
      </div>
      <div class="col p-5 text-center bg-light">
        {% for term in searchterms %}
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  {{term.upper()}}
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                {% for i in range(locations.__len__()) %}
                {% for key, value in locations[i].items() %}
                {% if key.lower() == term.lower() %}
                {% if locations[i][term]['pages'].__len__() > 0 %}
                  <ul class="list-group">
                    {% for j in range(locations[i][term]['pages'].__len__()) %}
                    <li class="list-group-item d-flex justify-content-start">Page {{locations[i][term]['pages'][j]}} on line {{locations[i][term]['line_number'][j]}}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}  
                </div>
              </div>
            </div>
          </div> 
        {% endfor %}
        <br/>
        <hr>
        <br/>
        <form 
          action=""
          enctype="multipart/form-data"
          method="post"
          autocomplete="off"
          charset="utf-8"
        >
          {% for term in searchterms%}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="forRedaction" value="{{term}}" id="flexCheckDefault">
            <label class="form-check-label d-flex justify-content-start" for="flexCheckDefault">
              {{term}}
            </label>
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary mb-3 mt-3">Apply redaction</button> 
        </form>  
      </div>
    </div>
</div>
{% endblock %}

